.deleteBtn{
    background-color: navy;
    border-color: black;
    border-width: 1px;
    font-weight: bold;
    font-size: 24px;
    color: white;
    width: 55px;
    height: 55px;
}


.addBox{
    border-style: solid;
    border-color: navy;
    border-width: 2px;
    width: 250px;
    padding-left: 16px;
    padding-bottom: 10px;
    padding-top: 3px;
    font-size: 32px;
}