
.taskcontainer {
    display: flex;
    justify-content: center;

}

.deleteBtn {
    background-color: navy;
    border-color: black;
    border-width: 1px;
    font-weight: bold;
    font-size: 15px;
    color: white;
    padding: 20px;
    margin-bottom: 10px;
}


.addBox {
    border-style: solid;
    border-color: navy;
    font-size: 20px;
    border-width: 2px;
    height: 20px;
    width: 245px;
    padding: 15px 15px 20px 20px;
}